{% if enable_statistics_plugin %}
    <script>
    $(document).ready(function(){
        var form = $('#like');
        form.submit(function(e) {
            e.preventDefault();
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                dataType: 'html',
                data: form.serialize(),
                success: function(result) {
                    {# $('#form-result').html(result); #}
                }
            });
        });
    });
    </script>

    <form id="like" name="{{ grav.config.plugins.statistics.form.name }}"
          action="{{ user_like ? page.url ~ '/task:likes.dislike' : page.url ~ '/task:likes.like' }}"
          method="{{ grav.config.plugins.statistics.form.method|upper|default('POST') }}">
        <div class="buttons">
            {% if user_like %}
            <button class="button" type="submit">{{ 'PLUGIN_STATISTICS.DONT_LIKE_IT'|t|default('I don\'t like it anymore') }}</button>
            {% else %}
            <button class="button" type="submit">{{ 'PLUGIN_STATISTICS.LIKE_IT'|t|default('I like it') }}</button>
            {% endif %}
        </div>

        {{ nonce_field('likes-form', 'likes-form-nonce')|raw }}
    </form>
{% endif %}
